html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    background-color: #f6f4f8;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
}

header h1 {
    margin: 10px auto;
}

.score-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.score-content__movements {
    width: 45%;
    display: block;
    margin: auto;
}

.score-content__crop {
    overflow: hidden;
    width: 45%;
    margin: 5px auto;
}

.score-content__clock {
    width: 45%;
    display: block;
    margin: auto;
    font-size: 27px;
}

.score-content__restart {
    width: 136px;
    display: block;
    margin: auto;
    background-color: #031654;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 5px;
}

.score-content__restart-icon {
    float: left;
    margin-left: 20%;
}

.score-content__restart-text {
    float: left;
    line-height: 2;
}

.board-content {
    margin: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    perspective: 1000px;
    background-color: #22066b;
    border-radius: 4px;
}

.card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.card-container {
    width: 4rem;
    height: 5.3rem;
    margin: inherit;
    position: relative;
    z-index: 1;
    perspective: 1000px;
}

.face {
    width: 100%;
    height: 100%;
    padding: 5px;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 3px 3px 2px 1px #ccc;
    backface-visibility: hidden;
}
.front {
    position: absolute;
    background-color: #fff;
    background-image: url('../img/card-front.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
}

.back {
    display: block;
    transform: rotateY(180deg);
    padding: 10px;
    color: white;
    background-color: #257fe4;
}

.back i {
    font-size: 32px;
    line-height: 2;
}

.matched {
    background-color: #09f38f;
}

.congrats {
    z-index: 9999;
    background: rgba(195,195,195,0.9);
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
    vertical-align: 1.1rem;
    display: flex;
    flex-flow: column;
}

.congrats .congrats__content {
    background: #fff;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    margin: auto;
    border: 1px solid #656565;
    box-shadow: 4px 4px rgba(101,101,101,0.3);
    padding: 20px;
}

.congrats__content span {
    display: block;
}

.congrats__content button {
    margin-top: 20px;
}

.rotate-card-on {
    transform: rotateY(180deg);
    transition: all 0.5s linear;
}
.rotate-card-off {
    transform: rotateY(0deg);
    transition: all 0.5s linear;
}

@media screen and (min-width: 440px) {
    .card-container {
        width: 5.3rem;
        height: 9.3rem;
    }

    .back i {
        font-size: 60px;
    }
}

@media screen and (min-width: 544px) {
    .card-container {
        width: 6.3rem;
        height: 9.3rem;
    }
}

@media screen and (min-width: 600px) {
    header {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    .score-content {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    .board-content {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    .card-container {
        width: 8.3rem;
        height: 9.3rem;
    }

    .back i {
        font-size: 70px;
    }
}
@keyframes card-matched {
    0% {transform: scale(1);}
    50% {transform: scale(1.3);}
    100% {transform: scale(1);}
}